.projects-container {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.project-card {
  position: relative;
  max-width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease;
  border-radius: 1rem;
}

.elements {
  position: absolute; /* Posizionamento assoluto sopra l'immagine */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centro esattamente il contenuto al centro dell'immagine */
  text-align: center;
}

/* Style for the image */
.project-card img {
  width: 20vw;
  border-radius: 1rem;
  opacity: 0.25;
}

/* Centered project title */
.project-title {
  color: #5a8f7b;
  font-family: "blockhead-black-face", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  z-index: 2;
}

/* Button styling */
.view-more-btn {
  width: 10rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: inherit;
  border: 2px solid #a9758b;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  margin-bottom: 1rem;
  transition: opacity 0.3s ease;
  z-index: 2; /* the button is above the image */
}

.view-more-btn:hover {
  background: linear-gradient(to right, #a9758b, #8b5866); /* Gradiente laterale sul hover */
  color: white;
}

.view-more-btn:active {
  background-color: #a9758b;
  border: none;
  color: white;
}

/* Show button on hover */
.project-card:hover .view-more-btn {
  opacity: 1; /* Button becomes visible on hover */
}

.project-card:hover p {
  font-size:2.6rem;
  transition: 0.5s ease;
}

.project-card:hover {
  box-shadow: 0.5px 0.5px 1px black, 0 0 19px #5a8f7b;
}

/*Responsive - Smartphone*/

@media screen and (min-width: 0px) and (max-width: 767px) {

.projects-container {
  display: block;
}

.project-card {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin-top: 1.5rem;
  box-shadow: 0.5px 0.5px 0.5px black, 0 0 12px #5a8f7b;
}

.project-card img {
  opacity: 1;
}

.elements {
  margin-left: 2rem;
}

.view-more-btn {
  width: 20vw;
  padding: 0.3;
  font-size: 2vw;
  font-weight: bold;
  background-color: inherit;
  border: 1.5px solid #a9758b;
  opacity: 1;
  margin-bottom: 2rem;
}

.project-title {
  font-size: 1rem;
}

}

/*Responsive - Tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

  .projects-container {
    display: block;
  }

  .project-card {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    margin-top: 1rem;
    box-shadow: 0.5px 0.5px 0.5px black, 0 0 12px #5a8f7b;
  }

  .project-card img {
    opacity: 1;
  }

  .elements {
    margin-left: 2.5rem;
  }

  .view-more-btn {
    width: 22vw;
    padding: 0.7rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: inherit;
    border: 1.5px solid #a9758b;
    opacity: 1;
    margin-bottom: 3rem;
  }

  .project-title {
    font-size: 2rem;
  }
}