.projects-container {
    display: grid;
    grid-auto-flow: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }

  .project-card {
    position: relative;
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 1rem;
  }

  /* Style for the image */
  .project-card img {
    width: 20vw;
    border-radius: 1rem;
    opacity: 0.25;
  }

  /* Centered project title */
  .project-title {
    color: #5a8f7b;
    font-family: "blockhead-black-face", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  /* Button styling */
  .view-more-btn {
    width: 9rem;
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: inherit;
    border: 3px solid #a9758b;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0; /* Button is hidden initially */
    transition: opacity 0.3s ease;
    z-index: 2; /* the button is above the image */
  }

  /* Show button on hover */
  .project-card:hover .view-more-btn {
    opacity: 1; /* Button becomes visible on hover */
  }

  .project-card:hover p {
    font-size:2.6rem;
    transition: 0.5s ease;
  }

  .project-card:hover {
    box-shadow: 0.5px 0.5px 1px black, 0 0 19px #5a8f7b;
  }

  /*Responsive - Smartphone*/

@media screen and (min-width: 0px) and (max-width: 768px) {

  .projects-container {
    display: block;
  }

  .project-card {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: center;
    flex-direction: row;
    margin-top: 1rem;
    box-shadow: 0.5px 0.5px 0.5px black, 0 0 12px #5a8f7b;
  }

  .project-title {
    font-size: 4vw;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .project-card:hover p {
    font-size:4vw;
  }

  .project-card img {
    opacity: 1;
  }
  .view-more-btn {
    width: 20vw;
    position: absolute;
    bottom: 20%;
    left: 55%;
    padding: 0.3rem;
    font-size: 2.1vw;
    font-weight: bold;
    background-color: inherit;
    border: 1.5px solid #a9758b;
    opacity: 1;
  }

  .view-more-btn:active {
    background-color: #a9758b;
    border: none;
  }

}

  /*Responsive - Tablet*/
  @media screen and (min-width: 769px) and (max-width: 1024px) {

    .projects-container {
      display: block;
    }

    .project-card {
      display: flex;
      align-items: left;
      justify-content: left;
      flex-direction: row;
      margin-top: 1rem;
      box-shadow: 0.5px 0.5px 0.5px black, 0 0 12px #5a8f7b;
    }

    .project-title {
      font-size: 4vw;
      margin-left: 1.5rem;
      text-align: center;
      position: absolute;
      top: 2%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    .project-card:hover p {
      font-size:4vw;
    }

    .project-card img {
      opacity: 1;
    }

    .view-more-btn {
      width: 22vw;
      position: absolute;
      bottom: 25%;
      left: 55%;
      padding: 0.7rem;
      font-size: 1.2rem;
      font-weight: bold;
      background-color: inherit;
      border: 1.5px solid #a9758b;
      opacity: 1;
    }

    .view-more-btn:active {
      background-color: #a9758b;
      border: none;
    }
  }