.projects-container {
  display: block;
  max-width: 80vw;
  margin: 0 auto;
}

.project-card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 1.5rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0.5px 0.5px 0.5px black, 0 0 2.5px #5a8f7b;
  gap: 2rem;
}

.project-card:hover {
  box-shadow: 0.5px 0.5px 0.5px black, 0 0 4px #5a8f7b;
}

.project-card img {
  width: 20vw;
  flex-shrink: 0;
  border-radius: 1rem;
  object-fit: cover;
}

.elements {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.5rem 0;
  gap: 1rem;
}

/* Titolo */
.project-title {
  color: #5a8f7b;
  font-family: "blockhead-black-face", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
  text-align: left;
}

/* Descrizione */
.project-description {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: left;
  margin: 1rem 0;
  width: 100%;
  flex-grow: 1;
}

/* Bottone */
.view-more-btn {
  align-self: flex-start;
  width: auto;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: inherit;
  border: 1.5px solid #a9758b;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 2;
  color: white;
}

.view-more-btn a {
  text-decoration: none;
  color: inherit;
}

.view-more-btn:hover {
  background: linear-gradient(to right, #a9758b, #8b5866);
  color: white;
}

.view-more-btn:active {
  background-color: #a9758b;
  border: none;
  color: white;
}

/* --- Responsive: Smartphone e Tablet --- */
@media screen and (max-width: 1024px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    max-width: 80%;
  }

  .project-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0.5px 0.5px 0.5px black, 0 0 2.5px #5a8f7b;
  }

  .project-card img {
    width: 100%;

  }

  .elements {
    width: 90%;
    align-items: center;
  }

  .project-title,
  .project-description {
    text-align: center;
  }

  .view-more-btn {
    align-self: center;
    width: 15rem;
    margin-top: 1rem;
    padding: 0.7rem;
    font-size: 1.5rem;
  }

  .project-description {
    font-size: 1.8rem;
  }
}